@model CloudA.Data.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permission1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permission1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.permission2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.permission2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEvent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
