@model CloudA.Data.Event

<div class="card-front-form ">
   
        <div class="text-dark">
            <h4 class="p-2">
                @Html.DisplayFor(modelItem => Model.TitlePL)

                @Html.DisplayFor(modelItem => Model.TitleEng)

                @Html.DisplayFor(modelItem => Model.TitleRos)

            </h4>
        </div>
        <div class="p-2">

            <img class="img-front-list img-fluid float-left mr-3 mb-3 rounded" src="/Image/@Model.LogoUrl" asp-append-version="true">
            <p class="lead text-left "> @Html.DisplayFor(modelItem => Model.Content)</p>

        </div>
        <h4 >
            <small class="p-4">Zaczynamy:  </small> @Html.DisplayFor(modelItem => Model.DateFrom) <br />
            <small class="p-4">Koniec:  </small>  @Html.DisplayFor(modelItem => Model.DateTo)
        </h4>       
    
</div>

