@model IEnumerable<CloudA.Data.Event>

<div class="row">
    <div class="row">
        <div class="col-6 float-md-left">
           
            <button type="button" class="collapsible btn  btn-secondary">Filtruj</button>
            <div class="content">
                <form asp-action="Index">
                    <div class="card ">
                        <div class="form-group">
                            <label class="control-label">Wyszukaj po nazwie</label>
                            <input name="searchTerm" class="form-control" />
                            <label class="control-label">Wyszukaj po liczba uczestników</label>
                            <input name="NumOfPeople" class="form-control" />

                            <label class="control-label ml-3" for="IsChange">
                                <input class="form-check-input " id="IsChange" type="checkbox" name="isDateChange" value="true" />
                                <input class="form-check-input " id="IsChange" type="hidden" name="isDateChange" value="false" />
                                Wyszukaj po data od:
                            </label>
                            <input name="dateFrom" class="form-control" type="datetime-local" />

                        </div>
                        <div class="form-group ">

                            <input type="submit" value="Szukaj" class="btn btn-secondary btn-sm float-right  " />

                        </div>
                    </div>
                </form>
            </div>

            <div class="row adminMenuBar">
                <p>
                    <a class="collapsible btn btn-link-own  btn-secondary" asp-controller="Event" asp-action="Create">Dodaj +</a>
                </p>
            </div>
            <div class="row ">
                <div>
                    <form asp-action="ShowEditItem" asp-controller="Home">
                        <table class="table table-borderless table-style table-hover">
                            <thead >
                                <tr>
                                    @*<th></th>*@
                                    <th class="text-center">
                                        @Html.DisplayName("Nazwa")
                                    </th>

                                    <th  class="text-center">
                                        @Html.DisplayName("Data od:")
                                    </th>
                                    <th  class="text-center">
                                        @Html.DisplayName("Data do:")
                                    </th>
                                    <th  class="text-center">
                                        @Html.DisplayName("Pokaż uczestników")
                                    </th>

                                    <th  class="text-center">
                                        @Html.DisplayName("Max liczba osób")
                                    </th>
                                    <th  class="text-center">
                                        @Html.DisplayName("Zarejestrowani")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="border-top">
                                @foreach (var item in Model)
                                {

                                    <tr class="showEdit" onclick="showEditClick('@item.IdEvent')">
                                        @*<td>
                                            <input class="editItemRadio" type="radio" name="Id" id="Id" value="@item.IdEvent" />
                                        </td>*@
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.TitlePL)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.TitleEng)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.TitleRos)
                                        </td>

                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateFrom)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateTo)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.IsRegister)
                                        </td>

                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.MaxNumOfPeople)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.NumOfRegistered)
                                        </td>

                                        <td>
                                            <a class="btn btn-sm  btn-warning  mr-3 mt-1 float-right" asp-controller="Event" asp-action="Delete" asp-route-id="@item.IdEvent">U</a>
                                            <a class="btn btn-sm  btn-secondary  mr-3 mt-1 float-right" asp-controller="Event" asp-action="Edit" asp-route-id="@item.IdEvent">E</a>
                                            <a class="btn btn-sm btn-secondary mr-3 mt-1 float-right" asp-controller="Event" asp-action="Clients" asp-route-id="@item.IdEvent">P</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </form>
                </div>
            </div>

        </div>
        <div class="col-6 float-md-left" id="EditFormArea">

        </div>
    </div>
</div>

     







