@model IEnumerable<CloudA.Data.Event>


    <div class="row">
        <div class="col-md-12 float-md-left">
            <button type="button" class="collapsible btn ">Filtruj</button>
            <div class="content">
                <form asp-action="Index">
                    <div class="card shadow ">
                        <div class="form-group p-3">
                            <label class="control-label">Wyszukaj po nazwie</label>
                            <input name="searchTerm" class="form-control" />
                            <label class="control-label">Wyszukaj po liczba uczestników</label>
                            <input name="NumOfPeople" class="form-control" />

                            <label class="control-label ml-3" for="IsChange">
                                <input class="form-check-input " id="IsChange" type="checkbox" name="isDateChange" value="true" />
                                <input class="form-check-input " id="IsChange" type="hidden" name="isDateChange" value="false" />
                                Wyszukaj po data od:
                            </label>
                            <input name="dateFrom" class="form-control" type="datetime-local" />

                        </div>
                        <div class="form-group p-3 ">

                            <input type="submit" value="Szukaj" class="btn btn-first float-right  " />

                        </div>
                    </div>
                </form>
            </div>
            <div class="row adminMenuBar">
                <div class=" mb-3 my-2 ">
                    <a class="btn-first btn btn-link-own  " asp-controller="Event" asp-action="Create">Dodaj</a>
                    <a class="btn-first btn btn-link-own " asp-controller="Event" asp-action="Create">Dodaj</a>
                    <a class="btn-first btn btn-link-own  " asp-controller="Event" asp-action="Create">Dodaj</a>
                </div>
                
            </div>
            <div class="row">
                <div class="col  float-left">
                    <form asp-action="ShowEditItem" asp-controller="Home">
                        <table class="table shadow table-borderless table-style table-hover">
                            <thead>
                                <tr>
                                    @*<th></th>*@
                                    <th class="text-center">
                                        @Html.DisplayName("Nazwa")
                                    </th>

                                    <th class="text-center">
                                        @Html.DisplayName("Data od:")
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayName("Data do:")
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayName("Pokaż uczestników")
                                    </th>

                                    <th class="text-center">
                                        @Html.DisplayName("Max liczba osób")
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayName("Zarejestrowani")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody class="border-top">
                                @foreach (var item in Model)
                                {

                                    <tr class="showEdit" onclick="showEditClick('@item.IdEvent')">
                                        @*<td>
                                        <input class="editItemRadio" type="radio" name="Id" id="Id" value="@item.IdEvent" />
                                    </td>*@
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.TitlePL)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.TitleEng)
                                            <br />
                                            @Html.DisplayFor(modelItem => item.TitleRos)
                                        </td>

                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateFrom)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.DateTo)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.IsRegister)
                                        </td>

                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.MaxNumOfPeople)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.NumOfRegistered)
                                        </td>

                                        <td>
                                            <div class="d-flex">
                                                <a class="btn-icon" asp-controller="Event" asp-action="Delete" asp-route-id="@item.IdEvent"><i class="fa fa-trash"></i></a>
                                                <a class="btn-icon" asp-controller="Event" asp-action="Edit" asp-route-id="@item.IdEvent"><i class="fa fa-edit"></i></a>
                                                <a class="btn-icon" asp-controller="Event" asp-action="Clients" asp-route-id="@item.IdEvent"><i class="fa fa-home"></i></a>
                                            </div>

                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </form>
                </div>
                <div class="col float-left " id="EditFormArea">

                </div>
            </div>

        </div>

       
    </div>


     







