@model IEnumerable<CloudA.Data.Event>



@foreach (var item in Model)
{
<div class="card-front shadow mb-3">

    <div class="row">
        <div class="col-8">
            <div class=" text-left pl-3 pt-2">
                <h2 class="seq"><strong>@Html.DisplayFor(modelItem => item.TitlePL)</strong> </h2><br />
                <h4>   @Html.DisplayFor(modelItem => item.TitleEng)</h4>
            </div>
           

        </div>
        <div class="col-4">
            <div class="img-front-card">
                <img class="img-front-main-list" src="/Image/@item.LogoUrl" asp-append-version="true">
                <div class="btn-block-front">
                    <a class="btn btn-first-img p-2 seq mr-3 " style="width:auto" asp-area="" asp-controller="Client" asp-action="Create" asp-route-id="@item.IdEvent">Zarejestruj się</a>
                    
                </div>
                <div class="block-front-main">
                   
                </div>
                <div class="block-front-second">

                </div>
                <div class="block-front-main-third">
                    <div class="p-3 text-center">
                        <h5> <small>start:</small> <strong>@Html.DisplayFor(modelItem => item.DateFrom)</strong> </h5><br />
                        <h5> <small>koniec: </small> <strong>@Html.DisplayFor(modelItem => item.DateTo)  </strong> </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
}


