@model IEnumerable<CloudA.Data.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitlePL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleRos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxNumOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfRegistered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitlePL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleRos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfRegistered)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
